Repository DFE-Digital/cdc-events: changes, and which Azure pipelines are due for each by the changed paths.
All: pipelines/cdc-events-event-api.yml, pipelines/cdc-events-event-generator.yml

pipelines/cdc-events-event-api.yml:

trigger:
  batch: true
  branches:
    include:
      - "*"
  paths:
    include:
      - /pipelines/cdc-events-event-api.yml
      - /azure/event-api-template.json
      - /src/*

workspace:
  clean: all

variables:
  BuildConfiguration: 'Release'

steps:
  - task: NuGetToolInstaller@1
    displayName: 'Use NuGet 4.9.1'
    inputs:
      versionSpec: '4.9.1'

  - task: NuGetCommand@2
    displayName: 'Restore Public NuGet Packages'
    inputs:
      command: 'restore'
      restoreSolution: '**/*.sln'

  - task: DotNetCoreCLI@2
    displayName: 'Build Everything'
    inputs:
      command: 'build'
      projects: 'src/**/*.csproj'
      arguments: '--configuration $(BuildConfiguration) --no-restore'

  - task: DotNetCoreCLI@2
    displayName: 'Run Unit Tests'
    inputs:
      command: test
      projects: 'src/**/*.UnitTests.csproj'
      arguments: '--configuration $(BuildConfiguration) --no-restore'

  - task: DotNetCoreCLI@2
    displayName: 'Publish CDC Event API App'
    inputs:
      command: publish
      publishWebProjects: false
      projects: 'src/Dfe.CdcEventApi.FunctionApp/Dfe.CdcEventApi.FunctionApp.csproj'
      arguments: '--configuration $(BuildConfiguration) --output $(Build.ArtifactStagingDirectory)/publish --no-restore --no-build'

  - task: CopyFiles@2
    displayName: 'Copy ARM template'
    inputs:
      Contents: |
        azure/event-api-template.json
      TargetFolder: '$(Build.ArtifactStagingDirectory)/publish'
      OverWrite: true

  - task: CopyFiles@2
    displayName: 'Copy EAPIM files'
    inputs:
      Contents: |
        eapim/*
      TargetFolder: '$(Build.ArtifactStagingDirectory)/publish'
      OverWrite: true

  - task: PublishBuildArtifacts@1
    displayName: 'Publish All Artifacts'
    inputs:
      PathtoPublish: '$(Build.ArtifactStagingDirectory)/publish'

pipelines/cdc-events-event-generator.yml:

trigger:
  batch: true
  branches:
    include:
      - "*"
  paths:
    include:
      - /pipelines/cdc-events-event-generator.yml
      - /azure/event-generator-template.json

workspace:
  clean: all

pool:
    vmImage: ubuntu-20.04

variables:
  BuildConfiguration: 'Release'

steps:
  - task: CopyFiles@2
    displayName: 'Copy ARM template'
    inputs:
      Contents: |
        azure/event-generator-template.json
      TargetFolder: '$(Build.ArtifactStagingDirectory)/publish'
      OverWrite: true

  - task: PublishBuildArtifacts@1
    displayName: 'Publish All Artifacts'
    inputs:
      PathtoPublish: '$(Build.ArtifactStagingDirectory)/publish'

Corrected field mapping for evidence type on survey section / survey section element
  src/Dfe.CdcEventApi.Infrastructure.SqlServer/EntityHandlers/Create_Raw_SurveySectionElement_Evidence.sql
  src/Dfe.CdcEventApi.Infrastructure.SqlServer/EntityHandlers/Create_Raw_SurveySection_Evidence.sql
Due: pipelines/cdc-events-event-api.yml

Added check for Success status after fetching entity page
  azure/event-generator-template.json
Due: pipelines/cdc-events-event-generator.yml

Added check for Success status to Validate-Re-Authenticate-Source
  azure/event-generator-template.json
Due: pipelines/cdc-events-event-generator.yml

Added ETL completion status to success condition; corrected typo
  src/Dfe.CdcEventApi.Application/NotifyProcessor.cs
Due: pipelines/cdc-events-event-api.yml

Chunking of attachments due to 4MB Azure limit; removed whitespace in NotifyAdapter to silence warning
  src/Dfe.CdcEventApi.Infrastructure.SqlServer/AttachmentStorageAdapter.cs
  src/Dfe.CdcEventApi.Infrastructure.SqlServer/NotifyAdapter.cs
Due: pipelines/cdc-events-event-api.yml

Comment amend
  src/Dfe.CdcEventApi.Infrastructure.SqlServer/AttachmentStorageAdapter.cs
Due: pipelines/cdc-events-event-api.yml

Added endpoint to return Attachments for deletion
  src/Dfe.CdcEventApi.FunctionApp/Functions/AttachmentsForDeletion.cs
Due: pipelines/cdc-events-event-api.yml

Implementation of AttachmentsForDeletion function
  src/Dfe.CdcEventApi.Application/AttachmentProcessor.cs
  src/Dfe.CdcEventApi.Application/Definitions/IAttachmentProcessor.cs
  src/Dfe.CdcEventApi.Domain/Definitions/IAttachmentStorageAdapter.cs
  src/Dfe.CdcEventApi.Domain/Models/AttachmentForDeletionRequest.cs
  src/Dfe.CdcEventApi.Domain/Models/IAttachmentForDeletionRequest.cs
  src/Dfe.CdcEventApi.FunctionApp/Functions/AttachmentsForDeletion.cs
  src/Dfe.CdcEventApi.FunctionApp/Functions/AttachmentsForDeletionFunctionBase.cs
  src/Dfe.CdcEventApi.FunctionApp/Functions/AttachmentsFunctionBase.cs
  src/Dfe.CdcEventApi.Infrastructure.SqlServer/AttachmentHandlers/EXTRACT-Attachment-To-Delete-List.sql
  src/Dfe.CdcEventApi.Infrastructure.SqlServer/AttachmentStorageAdapter.cs
  src/Dfe.CdcEventApi.Infrastructure.SqlServer/Dfe.CdcEventApi.Infrastructure.SqlServer.csproj
Due: pipelines/cdc-events-event-api.yml

Build action for Extract handler needed to be set as embedded resource
  src/Dfe.CdcEventApi.Infrastructure.SqlServer/Dfe.CdcEventApi.Infrastructure.SqlServer.csproj
Due: pipelines/cdc-events-event-api.yml

Updated swagger
  eapim/swagger.json
Due: none

Start implementation of delete method for attachments
  eapim/swagger.json
  src/Dfe.CdcEventApi.Application/AttachmentProcessor.cs
  src/Dfe.CdcEventApi.Application/Definitions/IAttachmentProcessor.cs
  src/Dfe.CdcEventApi.Domain/Definitions/IAttachmentStorageAdapter.cs
  src/Dfe.CdcEventApi.Domain/Models/FileData.cs
  src/Dfe.CdcEventApi.Domain/Models/IFileData.cs
  src/Dfe.CdcEventApi.FunctionApp/Functions/Attachments.cs
  src/Dfe.CdcEventApi.FunctionApp/Functions/AttachmentsFunctionBase.cs
  src/Dfe.CdcEventApi.Infrastructure.SqlServer/AttachmentHandlers/MASTER-File-Data-Delete.sql
  src/Dfe.CdcEventApi.Infrastructure.SqlServer/AttachmentHandlers/MASTER-File-Data.sql
  src/Dfe.CdcEventApi.Infrastructure.SqlServer/AttachmentStorageAdapter.cs
  src/Dfe.CdcEventApi.Infrastructure.SqlServer/Dfe.CdcEventApi.Infrastructure.SqlServer.csproj
Due: pipelines/cdc-events-event-api.yml

Added object parameter for query
  src/Dfe.CdcEventApi.Infrastructure.SqlServer/AttachmentStorageAdapter.cs
Due: pipelines/cdc-events-event-api.yml

Complete implementation of delete attachments
  src/Dfe.CdcEventApi.Infrastructure.SqlServer/AttachmentHandlers/EXTRACT-Attachment-Add-Deleted_EvidenceItem.sql
  src/Dfe.CdcEventApi.Infrastructure.SqlServer/AttachmentStorageAdapter.cs
  src/Dfe.CdcEventApi.Infrastructure.SqlServer/Dfe.CdcEventApi.Infrastructure.SqlServer.csproj
Due: pipelines/cdc-events-event-api.yml

Added sql handler as embedded resource
  src/Dfe.CdcEventApi.Infrastructure.SqlServer/Dfe.CdcEventApi.Infrastructure.SqlServer.csproj
Due: pipelines/cdc-events-event-api.yml

Added credential to FileShareClient
  src/Dfe.CdcEventApi.Infrastructure.SqlServer/AttachmentStorageAdapter.cs
Due: pipelines/cdc-events-event-api.yml

Added delete attachment step to Logic App
  azure/event-generator-template.json
Due: pipelines/cdc-events-event-generator.yml

Handle scenario where evidence item is deleted from Kykloud before being loaded to storage account
  src/Dfe.CdcEventApi.Infrastructure.SqlServer/AttachmentStorageAdapter.cs
Due: pipelines/cdc-events-event-api.yml

Set update Control record step to run after failure of previous step
  azure/event-generator-template.json
Due: pipelines/cdc-events-event-generator.yml

Manually updated body parameter for Send Data (log analytics) step
  azure/event-generator-template.json
Due: pipelines/cdc-events-event-generator.yml

Updated template to include log analytics and running control record update step after attachment failure; Added resourceGroupName parameter to template and ps script
  azure/event-generator-template.json
  src/Readme.txt
  src/event-generator-template.ps1
Due: pipelines/cdc-events-event-api.yml, pipelines/cdc-events-event-generator.yml

Added parameter definition to template
  azure/event-generator-template.json
Due: pipelines/cdc-events-event-generator.yml

Corrected dynamic value for log analytics connection
  azure/event-generator-template.json
Due: pipelines/cdc-events-event-generator.yml

Corrected dynamic value for log analytics connection
  azure/event-generator-template.json
  src/event-generator-template.ps1
Due: pipelines/cdc-events-event-api.yml, pipelines/cdc-events-event-generator.yml

More parameterisation for log analytics
  azure/event-generator-template.json
  src/event-generator-template.ps1
Due: pipelines/cdc-events-event-api.yml, pipelines/cdc-events-event-generator.yml

Added parameter for subscriptionId
  azure/event-generator-template.json
  src/event-generator-template.ps1
Due: pipelines/cdc-events-event-api.yml, pipelines/cdc-events-event-generator.yml

Updated log analytics connection params
  azure/event-generator-template.json
  src/event-generator-template.ps1
Due: pipelines/cdc-events-event-api.yml, pipelines/cdc-events-event-generator.yml

Added application state provider
  src/Dfe.CdcEventApi.Domain/Definitions/IApplicationStateProvider.cs
  src/Dfe.CdcEventApi.FunctionApp/Functions/ControlFunctionsBase.cs
  src/Dfe.CdcEventApi.FunctionApp/Infrastructure/ApplicationStateProvider.cs
  src/Dfe.CdcEventApi.FunctionApp/Startup.cs
Due: pipelines/cdc-events-event-api.yml

Added new parameter to inherited class
  src/Dfe.CdcEventApi.FunctionApp/Functions/Control.cs
Due: pipelines/cdc-events-event-api.yml

Further implementation for forcing failure conditions
  src/Dfe.CdcEventApi.Domain/Definitions/IApplicationStateProvider.cs
  src/Dfe.CdcEventApi.Domain/Models/ApplicationState.cs
  src/Dfe.CdcEventApi.FunctionApp/Functions/ControlFunctionsBase.cs
  src/Dfe.CdcEventApi.FunctionApp/Functions/Deleted.cs
  src/Dfe.CdcEventApi.FunctionApp/Functions/EntityFunctionsBase.cs
  src/Dfe.CdcEventApi.FunctionApp/Functions/Portfolios.cs
  src/Dfe.CdcEventApi.FunctionApp/Functions/Sites.cs
  src/Dfe.CdcEventApi.FunctionApp/Functions/SurveySectionElements.cs
  src/Dfe.CdcEventApi.FunctionApp/Functions/SurveySections.cs
  src/Dfe.CdcEventApi.FunctionApp/Functions/Surveys.cs
  src/Dfe.CdcEventApi.FunctionApp/Functions/Users.cs
  src/Dfe.CdcEventApi.FunctionApp/Infrastructure/ApplicationStateProvider.cs
Due: pipelines/cdc-events-event-api.yml

Reset request count when initialising application state
  src/Dfe.CdcEventApi.FunctionApp/Infrastructure/ApplicationStateProvider.cs
Due: pipelines/cdc-events-event-api.yml

Output request count to log
  src/Dfe.CdcEventApi.FunctionApp/Infrastructure/ApplicationStateProvider.cs
Due: pipelines/cdc-events-event-api.yml

Removed logger reference from ApplicationStateProvider (possible singleton registration issue)
  src/Dfe.CdcEventApi.FunctionApp/Functions/ControlFunctionsBase.cs
  src/Dfe.CdcEventApi.FunctionApp/Functions/EntityFunctionsBase.cs
  src/Dfe.CdcEventApi.FunctionApp/Infrastructure/ApplicationStateProvider.cs
Due: pipelines/cdc-events-event-api.yml

Created new instance of ApplicationState in ApplicationStateProvider
  src/Dfe.CdcEventApi.FunctionApp/Infrastructure/ApplicationStateProvider.cs
Due: pipelines/cdc-events-event-api.yml

Enhanced logging, storage api connection and retry behaviour
  azure/event-generator-template.json
  src/event-generator-template.ps1
Due: pipelines/cdc-events-event-api.yml, pipelines/cdc-events-event-generator.yml

Changed connection names
  azure/event-generator-template.json
  src/event-generator-template.ps1
Due: pipelines/cdc-events-event-api.yml, pipelines/cdc-events-event-generator.yml

Changed connection id (trying to resolve release issue where connection is not found)
  azure/event-generator-template.json
Due: pipelines/cdc-events-event-generator.yml

Changed connections back to what I think they should be, further investigation required on Devops
  azure/event-generator-template.json
  src/event-generator-template.ps1
Due: pipelines/cdc-events-event-api.yml, pipelines/cdc-events-event-generator.yml

Added parameter to Logic App and removed retry from Post Entity action
  azure/event-generator-template.json
Due: pipelines/cdc-events-event-generator.yml

Log XML for inspection
  src/Dfe.CdcEventApi.Application/EntityProcessor.cs
Due: pipelines/cdc-events-event-api.yml

Added filter to prevent duplicate records in raw db
  src/Dfe.CdcEventApi.Application/EntityProcessor.cs
  src/Dfe.CdcEventApi.Infrastructure.SqlServer/EntityHandlers/Create_Raw_Deleted.sql
  src/Dfe.CdcEventApi.Infrastructure.SqlServer/EntityHandlers/Create_Raw_Portfolio.sql
  src/Dfe.CdcEventApi.Infrastructure.SqlServer/EntityHandlers/Create_Raw_Portfolio_Field.sql
  src/Dfe.CdcEventApi.Infrastructure.SqlServer/EntityHandlers/Create_Raw_Portfolio_SiteInfo.sql
  src/Dfe.CdcEventApi.Infrastructure.SqlServer/EntityHandlers/Create_Raw_Site.sql
  src/Dfe.CdcEventApi.Infrastructure.SqlServer/EntityHandlers/Create_Raw_Site_Field.sql
  src/Dfe.CdcEventApi.Infrastructure.SqlServer/EntityHandlers/Create_Raw_Survey.sql
  src/Dfe.CdcEventApi.Infrastructure.SqlServer/EntityHandlers/Create_Raw_SurveySection.sql
  src/Dfe.CdcEventApi.Infrastructure.SqlServer/EntityHandlers/Create_Raw_SurveySectionElement.sql
  src/Dfe.CdcEventApi.Infrastructure.SqlServer/EntityHandlers/Create_Raw_SurveySectionElement_Evidence.sql
  src/Dfe.CdcEventApi.Infrastructure.SqlServer/EntityHandlers/Create_Raw_SurveySectionElement_Field.sql
  src/Dfe.CdcEventApi.Infrastructure.SqlServer/EntityHandlers/Create_Raw_SurveySection_Evidence.sql
  src/Dfe.CdcEventApi.Infrastructure.SqlServer/EntityHandlers/Create_Raw_SurveySection_Field.sql
  src/Dfe.CdcEventApi.Infrastructure.SqlServer/EntityHandlers/Create_Raw_Survey_Evidence.sql
  src/Dfe.CdcEventApi.Infrastructure.SqlServer/EntityHandlers/Create_Raw_Survey_Field.sql
  src/Dfe.CdcEventApi.Infrastructure.SqlServer/EntityHandlers/Create_Raw_User.sql
Due: pipelines/cdc-events-event-api.yml
