Repository DFE-Digital/cdc-events: changes, and which Azure pipelines are due for each by the changed paths.
All: pipelines/cdc-events-event-api.yml, pipelines/cdc-events-event-generator.yml

pipelines/cdc-events-event-api.yml:

trigger:
  batch: true
  branches:
    include:
      - "*"
  paths:
    include:
      - /pipelines/cdc-events-event-api.yml
      - /azure/event-api-template.json
      - /src/*

workspace:
  clean: all

variables:
  BuildConfiguration: 'Release'

steps:
  - task: NuGetToolInstaller@1
    displayName: 'Use NuGet 4.9.1'
    inputs:
      versionSpec: '4.9.1'

  - task: NuGetCommand@2
    displayName: 'Restore Public NuGet Packages'
    inputs:
      command: 'restore'
      restoreSolution: '**/*.sln'

  - task: DotNetCoreCLI@2
    displayName: 'Build Everything'
    inputs:
      command: 'build'
      projects: 'src/**/*.csproj'
      arguments: '--configuration $(BuildConfiguration) --no-restore'

  - task: DotNetCoreCLI@2
    displayName: 'Run Unit Tests'
    inputs:
      command: test
      projects: 'src/**/*.UnitTests.csproj'
      arguments: '--configuration $(BuildConfiguration) --no-restore'

  - task: DotNetCoreCLI@2
    displayName: 'Publish CDC Event API App'
    inputs:
      command: publish
      publishWebProjects: false
      projects: 'src/Dfe.CdcEventApi.FunctionApp/Dfe.CdcEventApi.FunctionApp.csproj'
      arguments: '--configuration $(BuildConfiguration) --output $(Build.ArtifactStagingDirectory)/publish --no-restore --no-build'

  - task: CopyFiles@2
    displayName: 'Copy ARM template'
    inputs:
      Contents: |
        azure/event-api-template.json
      TargetFolder: '$(Build.ArtifactStagingDirectory)/publish'
      OverWrite: true

  - task: CopyFiles@2
    displayName: 'Copy EAPIM files'
    inputs:
      Contents: |
        eapim/*
      TargetFolder: '$(Build.ArtifactStagingDirectory)/publish'
      OverWrite: true

  - task: PublishBuildArtifacts@1
    displayName: 'Publish All Artifacts'
    inputs:
      PathtoPublish: '$(Build.ArtifactStagingDirectory)/publish'

pipelines/cdc-events-event-generator.yml:

trigger:
  batch: true
  branches:
    include:
      - "*"
  paths:
    include:
      - /pipelines/cdc-events-event-generator.yml
      - /azure/event-generator-template.json

workspace:
  clean: all

pool:
    vmImage: ubuntu-20.04

variables:
  BuildConfiguration: 'Release'

steps:
  - task: CopyFiles@2
    displayName: 'Copy ARM template'
    inputs:
      Contents: |
        azure/event-generator-template.json
      TargetFolder: '$(Build.ArtifactStagingDirectory)/publish'
      OverWrite: true

  - task: PublishBuildArtifacts@1
    displayName: 'Publish All Artifacts'
    inputs:
      PathtoPublish: '$(Build.ArtifactStagingDirectory)/publish'

Added template for scheduler Logic App
  pipelines/cdc-events-event-generator-scheduler.yml
  src/Dfe.CdcEventApi.sln
  src/event-generator-scheduler-template.json
Due: pipelines/cdc-events-event-api.yml

Corrected location of new logic app template
  azure/event-generator-scheduler-template.json
  src/Dfe.CdcEventApi.sln
Due: pipelines/cdc-events-event-api.yml

Parameter substitution in scheduler template
  azure/event-generator-scheduler-template.json
Due: none

Use export template from logic app rather than code view
  azure/event-generator-scheduler-template.json
Due: none

Added missing parameter
  azure/event-generator-scheduler-template.json
Due: none

Added default param value
  azure/event-generator-scheduler-template.json
Due: none

Changed schedule time
  azure/event-generator-scheduler-template.json
Due: none

Changed trigger to http
  azure/event-generator-template.json
Due: pipelines/cdc-events-event-generator.yml

Updated readme
  src/Readme.txt
Due: pipelines/cdc-events-event-api.yml

Parameter to name resource based on env
  azure/event-generator-scheduler-template.json
Due: none

Add tag based on env
  azure/event-generator-scheduler-template.json
Due: none

Changed default ItemsPerPage to 200
  azure/event-generator-template.json
Due: pipelines/cdc-events-event-generator.yml

Updated loop timeout values
  azure/event-generator-template.json
Due: pipelines/cdc-events-event-generator.yml

Increasing timeout again due to large import
  azure/event-generator-template.json
Due: pipelines/cdc-events-event-generator.yml

Reduced number of items retrieved per page from Kykloud
  azure/event-generator-template.json
Due: pipelines/cdc-events-event-generator.yml

Added condition to set end date from http request if present
  azure/event-generator-template.json
Due: pipelines/cdc-events-event-generator.yml

Corrected ItemsPerPage and timeouts
  azure/event-generator-template.json
Due: pipelines/cdc-events-event-generator.yml
